@media (max-width: 768px) {
    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 12px;
    }

    button {
        font-size: 14px;
    }

    p {
        font-size: 10px;
    }

    h1 {
    margin: 368px 0 0 62px;
    line-height: 84px;
    }

    #hero h3 {
        width: 570px;
        margin-left: 65px;
        line-height: 30px;
    }

    #hero button {
        width: 177px;
        height: 44px;
        border: 2px solid var(--text-color);
        border-radius: 10px;
        margin-left: 62px;
        transition: background-color 0.5s ease, border 0.5s ease, box-shadow 0.5s ease;
    }

    .logo {
        margin-left: 15px;
        margin-bottom: 10px;
    }

    .logo-text {
        font-size: 32px;
        margin: 0 15px;
    }

    .nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 92px;
        left: 0;
        background: rgba(0, 0, 0, 0.9);
        padding: 10px 0;
    }

    .nav.open {
        display: block;
    }

    #header ul {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    #header ul li {
        width: 100%;
        padding: 14px 0;
        text-align: center;
    }

    .hamburger {
        display: flex;
        margin-left: 50%;
    }

    .item {
        height: auto;
    }

    .vendors-grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
    }

    .vendor-card.expanded {
        transform: scaleX(1.1) scaleY(1.1);
    }

    #reviews {
        align-items: center;
    }

    .reviews-line {
                flex-direction: column;
    }

    .review-itmes {
        flex-direction: column;
    }

    .review-form {
        align-self: center;
        margin-bottom: 40px;
    }

    .review-form,
    .review-item {
        width: 371px;
    }

    .offer-content {
        flex-direction: column;
    }

    .offer-details,
    .offer-details-2 {
        text-align: left;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .offer-name, 
    .old-price,
    .new-price,
    .countdown {
        font-size: 32px;
    }

    .offer-conten-img {
        align-self: center;    
    }

    .offers-list {
        margin: 0 20px 50px 20px; 
    }

    #contact {
        flex-direction: column;
    }

    .cat {
        top: 4318px;
    }
}

@media (max-width: 480px) {
    .header nav ul {
        display: block;
        margin-top: 20px;
    }

    .header nav ul li {
        margin: 10px 0;
    }

    h1 {
        font-size: 56px;
        line-height: normal;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 10px;
    }

    button {
        font-size: 10px;
    }

    p {
        font-size: 8px;
    }

    h1 {
        margin: 318px 0 0 52px;
        line-height: 84px;
    }

    #hero h3 {
        width: 350px;
        margin-left: 55px;
        line-height: 30px;
    }

    #hero button {
        width: 177px;
        height: 44px;
        border: 2px solid var(--text-color);
        border-radius: 10px;
        margin-left: 52px;
        transition: background-color 0.5s ease, border 0.5s ease, box-shadow 0.5s ease;
    }

    .hamburger {
        margin-left: 15%;
    }

    .catalog {
        grid-template-columns: repeat(2, 1fr);
    }

    .vendors-grid {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 24px;
    }

    .offer-name, 
    .old-price,
    .new-price,
    .countdown {
        font-size: 24px;
    }

    .basket-btn {
        width: 102px;
        height: 62px;
    }

    .cat {
        display: none;                
    }
}