#items {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#items h2 {    
    height: 40px;
    line-height: 44%;
    margin-top: 50px;
    align-self: center;
}

.catalog-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 24px;
}

.item {
    height: 392px;
    width: 276px;
    border-radius: 6px;
}

.item:hover {
    background-color: var(--purple);
    outline: 12px solid var(--purple);
    box-shadow: 0px 0px 4px var(--purple);
}

.item .text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item .text-container h3 {
    margin-top: 10px;
    font-weight: bold;
    line-height: 144%;
}

.item .text-container p {
    line-height: 157%;    
    color: #9095A0;
}

.item .text-container .description {
    height: 44px;
}

.item .text-container .price {
    display: flex;
    justify-content: space-between;
}