#header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 92px;
    transition: all 0.7s ease;
    z-index: 100;
}

#header.scrolled {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
}

.logo {
    margin-left: 15px;
}

.logo-text {
    font-family: "Smythe", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: var(--purple);
    margin: 0 24px 0 15px;
}

#header ul {
    display: flex;
    gap: 10px;
}

#header ul li {
    background: var(--nav-button-color);
    border-radius: 10px;
    padding: 14px 9px;
    white-space: nowrap;
    outline: 2px solid transparent;
    transition: outline 0.5s ease, box-shadow 0.5s ease;
}

#header ul li:hover {
    outline: 2px solid var(--purple);
    box-shadow: 0px 0px 8px var(--purple);
}

#header ul li:nth-child(2) {
    padding-left: 0;
}

#header ul li h3 {
    display: flex;
    color: var(--text-color);
}

#header h3 img {
    margin-right: 6px;
}

#basket {
    margin: 0 22px;
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.hamburger .line {
    background-color: var(--text-color);
    height: 4px;
    width: 100%;
    border-radius: 5px;
}

.nav {
    display: flex;
}

.nav ul {
    display: flex;
    gap: 10px;
}

#header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw; /* Займає всю ширину екрану */
    height: 92px;
    transition: all 0.7s ease;
    z-index: 100;
}

#header.scrolled {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
}

.logo {
    margin-left: 15px;
}

.logo-text {
    font-family: "Smythe", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: var(--purple);
    margin: 0 24px 0 15px;
}

#header ul {
    display: flex;
    gap: 10px;
}

#header ul li {
    background: var(--nav-button-color);
    border-radius: 10px;
    padding: 14px 9px;
    white-space: nowrap;
    outline: 2px solid transparent;
    transition: outline 0.5s ease, box-shadow 0.5s ease;
}

#header ul li:hover {
    outline: 2px solid var(--purple);
    box-shadow: 0px 0px 8px var(--purple);
}

#header ul li:nth-child(2) {
    padding-left: 0;
}

#header ul li h3 {
    display: flex;
    color: var(--text-color);
}

#header h3 img {
    margin-right: 6px;
}

#basket {
    margin: 0 22px;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.hamburger .line {
    background-color: var(--text-color);
    height: 4px;
    width: 100%;
    border-radius: 5px;
}

.nav {
    display: flex;
}

.nav ul {
    display: flex;
    gap: 10px;
}