/* Загальні стилі для секції відгуків */
#reviews {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    margin-bottom: 50px;
}

#reviews h2 {
    height: 40px;
    line-height: 44%;
    margin-top: 50px;
}

.reviews-line {
    display: flex;
    justify-content: space-evenly;
}

.review-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: #743093;
    border-radius: 16px;
    padding: 24px;
}

.first-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.name-stars {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 12px;
    width: 247px;
    height: 64px;
    background: #471D5A;
    border-radius: 10px;
}

.second-line {
    display: flex;
    width: 323px;
    height: 78px;
    background: #471D5A;
    border-radius: 10px;
}

.review {
    flex: 1;
    align-self: flex-start;
    margin: 12px;
    width: 100%;
    height: 54px;
    resize: none; 
}

.send-button {
    align-self: flex-end;
    margin: 0 12px 12px 0;
}

.reviews-carousel {
    display: flex;
    gap: 40px;
}

.review-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 16px;
    padding: 24px;
    background: #171A1F;
}

.reviews-carousel .name-stars,
.reviews-carousel .second-line {
    background-color: #171A1F;
}

#reviews h3 {
    font-weight: bold;
}

#reviews p {
    text-align: left;
    line-height: 186%;
}